* {
  transition: all 1s;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: #010d18;
  background-image: linear-gradient(
    320deg,
    #010d18 0%,
    #002849 90%,
    rgb(0, 42, 78) 100%
  );
  height: auto;
}

html {
  scroll-behavior: smooth;
}

header {
  padding: 1.5em;
  position: relative;
}

.main_container {
  max-width: 75rem;
  margin: 0 auto;
}
.fa-brands {
  font-size: 44px;
  min-width: 45px;
}
.fa-bitcoin {
  color: #f7931a;
}
.fa-ethereum {
  color: white;
}

.fa-solid {
  transition: 5s;
}

.jc-sb {
  justify-content: space-between;
}

.ai-ce {
  align-items: center;
}

.logos span {
  margin: 0 3px 0 10px;
  font-size: 22px;
  font-weight: 600;
  color: #f7931a;
}
.logos span:nth-child(3) {
  margin: 0;
  font-size: 20px;
  color: #ffffff;
}

.menu ul {
  display: flex;
}
.menu ul li a {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.menu ul li a::after {
  content: "";
  color: #ffffff;
  height: 3px;
  background-color: #bddefd;
  width: 0%;
  transition: ease-in-out 1s;
  margin-top: 2px;
}

.menu ul li a:hover::after {
  content: "";
  color: #ffffff;
  border-radius: 0 0 40% 0;
  height: 3px;
  background-color: #2f5bd3;
  background-image: linear-gradient(180deg, #2f5bd3 0%, #051338 100%);
  width: 100%;
  transition: ease-in-out 1s;
  margin-top: 2px;
}

#hamburguer {
  display: none;
  font-size: 20px;
}

.pointer {
  cursor: pointer;
}

footer {
  background-color: #051338;
  background-image: linear-gradient(20deg, #051338 0%, rgb(18, 70, 212) 100%);
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 12%,
    100% 100%,
    0 100%,
    0 12%,
    17% 12%
  );
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 2em;
}
footer h2,
footer h3 {
  width: 100%;
}

footer h2 {
  margin: 15px 0;
  font-size: 24px;
  font-weight: 600;
}
footer h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
}
footer h4 {
  font-size: 18px;
  font-weight: 400;
}

footer i.fa-brands {
  margin: 15px 10px;
  font-size: 32px;
}

footer a {
  color: white;
}

.text-center {
  text-align: center;
}

.tin {
  font-weight: 100;
}

.text-white {
  color: white;
}

.Crypto {
  width: 90%;
  border-radius: 41% 59% 39% 61% / 63% 29% 71% 37%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin: 12px auto;
  padding: 8px 0;
  list-style-type: none;
  clip-path: polygon(0 0, 35% 0, 97% 0, 100% 50%, 97% 100%, 37% 100%, 0 100%);
}
.Crypto img {
  width: 50px;
  height: 50px;
  margin: 5px 10px;
}

.fa-globe {
  color: white;
  font-size: 23px;
}

.fa-globe:hover {
  color: rgba(255, 255, 255, 0.4);
}

.CryptoName {
  font-weight: bold;
  font-size: 23px;
}

.jc-sb {
  justify-content: space-between;
}

.infos h5 {
  font-size: 14px;
  font-weight: 400;
}
.infos h6 {
  font-size: 16px;
  font-weight: 600;
}

.text-green {
  color: #28a745;
}

.text-red {
  color: #dc3545;
}
.mt-main {
  margin-top: 120px;
}

#coin,
#VarTime {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin: 12px;
  padding: 8px 0;
  border: none;
}

.configs {
  width: 90%;
  margin: 0 auto;
}

.configs h3 {
  font-size: 18px;
  color: #ffffff;
  display: inline;
}

.newsletter {
  width: 90%;
  margin: 0 auto;
}

section {
  clip-path: polygon(
    100% 0,
    100% 100%,
    83% 100%,
    50% 88%,
    17% 100%,
    0 100%,
    0 38%,
    0 0
  );
  background-color: #051338;
  background-image: linear-gradient(160deg, #051338 0%, rgb(18, 70, 212) 100%);
}

.newsletter {
  padding: 30px 0;
  text-align: center;
  margin-top: 35px;
}
.newsletter h2,
.newsletter i {
  font-size: 18px;
  display: inline;
  color: #ffffff;
  text-align: center;
}

.newsletter form {
  font-size: 16px;
  color: #ffffff;
  margin: 25px 0;
}

.newsletter label {
  font-size: 16px;
  color: #ffffff;
}
.newsletter input,
.newsletter button {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 8px 0;
  border: none;
  width: 100%;
  margin-top: 15px;
  max-width: 300px;
  color: white;
  text-align: center;
}

.newsletter input::placeholder {
  font-weight: 600;
  color: white;
  padding-left: 10px;
  text-align: center;
}

#teste {
  color: white;
}

.fa-solid {
  color: white;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 15px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.invisible {
  opacity: 0;
  transition: none;
}

.jc-se {
  justify-content: space-evenly;
}

@media only screen and (max-width: 678px) {
  #hamburguer {
    display: block;
  }
  .menu ul {
    position: absolute;
    left: -50vw;
    top: 70%;
    flex-direction: column;
  }
  .active {
    left: 50vw !important;
    top: 70%;
    transform: translateX(-50%);
  }
  .menu ul li {
    margin: 15px 0;
  }
}
